/*.contact-main-frame{*/
/*    width: 100%;*/
/*    padding-top: 100px;*/
/*    background-image: linear-gradient(#F9F4FB,#F9F4FB,#da7ef8);*/
/*}*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    color: #2d0e54;
    line-height: 1.6;
}

.contact-main-frame {
    border: 1px solid #6C1868;
    background-color: #e89bd3;
    display: flex;
    justify-content: space-between;
    padding: 3rem 6%;
    flex-wrap: wrap;
}


.contact-form {
    flex: 1;
    max-width: 600px;
}