/*.contact-main-frame{*/
/*    width: 100%;*/
/*    padding-top: 100px;*/
/*    background-image: linear-gradient(#F9F4FB,#F9F4FB,#da7ef8);*/
/*}*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    color: #e89bd3;
    line-height: 1.6;
}

.contact-main-frame {
    border: 1px solid #e89bd3;
    background-color: #6C1868;
    display: flex;
    justify-content: space-between;
    padding: 3rem 6%;
    flex-wrap: wrap;
}

.contact-form {
    flex: 1;
    max-width: 600px;
}

.contact-headers h1 {
    font-size: 5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    line-height: 1.2;
}

.contact-headers p {
    font-size: 1rem;
    margin-bottom: 1.0rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

form label {
    font-size: 0.9rem;
    color: #e89bd3;
    margin-bottom: 0.3rem;
}

form input,
form select,
form textarea {
    width: 100%;
    padding: 0.8rem;
    font-size: 1rem;
    border: 1px solid #f1c4e3;
    border-radius: 4px;
    background-color: #6C1868;
    color: #f1c4e3;
    outline: none;
}

form input::placeholder,
form textarea::placeholder {
    color: #f1c4e3;
}

form input:not(:placeholder-shown),
form textarea:not(:placeholder-shown) {
    border: 2px solid #fa37f7; /* Pink border */
    background-color: #ffe3f7; /* Light pink background */
    color: #6C1868;
}

form input:focus,
form textarea:focus {
    outline: none;
    border: 2px solid #fa37f7;
    background-color: #ffe3f7;
    color: #6C1868;
    transition: all 0.3s ease;
}

form input::placeholder,
form textarea::placeholder {
    color: #f1c4e3;
}

form input,
form textarea {
    transition: background-color 0.3s ease, border 0.3s ease, color 0.3s ease;
}


form select option {
    color: #f1c4e3;
    background-color: #6C1868;
}

form button {
    padding: 0.8rem 2rem;
    font-size: 1rem;
    color: #6C1868;
    background-color: #fa37f7;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
    border: 2px solid #6C1868;
}

form button:hover {
    color: #fa37f7;
    background-color: #6C1868;
    border: 2px solid #fa37f7;
}

.contact-header {
    flex: 1;
    max-width: 400px;
    padding: 2rem;
    background-color: #e89bd3;
    border-radius: 12px;
    margin-top: 1.5rem;
    color: #6C1868;
    height: 400px;

}

.contact-item {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.contact-item-location {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.contact-item img {
    width: 36px;
    height: 36px;
}

.contact-item-location img{
    width: 33px;
    height: 36px;
}

.contact-item h2 {
    font-size: 1rem;
    margin-bottom: 0.2rem;
}

.contact-item p {
    font-size: 0.9rem;

}

.contact-headers .circle {
    font-size: 12px;
    color: #ffcc4d;
}