* {
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    color: #e89bd3;
    line-height: 1.6;
}

.contact-main-frame {
    border: 1px solid #e89bd3;
    background-color: #6C1868;
    display: flex;
    flex-direction: column; /* Change to column for responsiveness */
    padding: 2rem;
    border-radius: 20px 20px 0 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.contact-form {
    flex: 1;
    width: 100%;
}

.contact-headers h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
    line-height: 1.2;
}

.contact-headers p {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.form-row-group {
    display: flex;
    flex-direction: column; /* Stacked on smaller screens */
    gap: 1rem; /* Space between fields */
}

.form-group {
    width: 100%;
}

.contact-form form label {
    font-size: 0.9rem;
    color: #e89bd3;
    margin-bottom: 0.6rem;
}

.contact-form form input,
.contact-form form select,
.contact-form form textarea {
    width: 100%;
    padding: 0.8rem;
    font-size: 1rem;
    border: 1px solid #f1c4e3;
    border-radius: 4px;
    background-color: #6C1868;
    color: #f1c4e3;
    outline: none;
    height: 50px;
}

.contact-form form button {
    padding: 0.8rem 2rem;
    font-size: 1rem;
    color: #6C1868;
    background-color: #fa37f7;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
    border: 2px solid #6C1868;
}

.contact-form form button:hover {
    color: #fa37f7;
    background-color: #6C1868;
    border: 2px solid #fa37f7;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .contact-headers h1 {
        font-size: 2.5rem;
    }

    .form-row-group {
        gap: 1rem;
    }

    .form-group {
        width: 100%; /* Full width for form groups */
    }

    .contact-form {
        padding: 1rem;
    }
}

@media (max-width: 480px) {
    .contact-headers h1 {
        font-size: 2rem;
    }

    .contact-form {
        padding: 0.5rem;
    }

    .contact-headers p {
        font-size: 0.9rem;
    }
}
