.value-main-frame{
    width: 100%;
    background-image: linear-gradient(#F9F4FB,#F9F4FB);
    display: flex;
    padding-top: 200px;

}

.blob-plusCarpetWasher-background-designs{
    width: 50%;
    display: flex;
}

.blob-background-designs-washer{
    width: 100%;
    height: 500px;
    border-bottom-left-radius: 70% 80%;
    border-top-right-radius: 0% 40%;
    border-bottom-right-radius: 0% 60%;
    border-top-left-radius: 70% 40%;
    /*background-image: radial-gradient(#2d0e54,#fb03b6);*/
}

.blob-background-designs-washer img{
    width: 90%;
    height: 125%;

}

.value-text-frame{
    width: 45%;
    margin-right: 100px;
    margin-left: 100px;
}

.value-text-frame hr{
    height: 5px;
    width: 250px;
    background-image: radial-gradient( #fb03b6,#2d0e54);
}

.value-text-details-frame h1{
    height: 55px;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 0em;
    text-align: center;
    font-family: "Montserrat Alternates", sans-serif;
    font-style: normal;
    background: -webkit-repeating-linear-gradient(#0e000a, #2d0e54);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.value-text-details-frame p{
    height: 55px;
    width: 610px;
    font-size: 20px;
    font-weight: 300;
    text-align:justify;
    font-family: "Varela Round", sans-serif;
    line-height: 35px;
    letter-spacing: 0em;
    color: rgba(0, 0, 0, 0.55);

}