.home-page-main-frame {
    width: 100%;
    min-height: 89vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #F7F7F7;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px; /* Adds padding for smaller screens */
}

.text-frame {
    margin: 20px;
    flex: 1;
    max-width: 600px;
    text-align: center; /* Center aligns on smaller devices */
}

.text-frame h1 {
    font-size: 2.5rem; /* Adjusts for better readability */
    line-height: 1.2;
    font-weight: 600;
    color: #9C1275;
    text-align: left
}

.text-frame p {
    font-size: 1rem;
    line-height: 1.6;
    color: rgba(0, 0, 0, 0.55);
    margin-top: 20px;
    text-align: left;
}

.home-page-contact-button {
    color: #5a225f;
    border: 2px solid #9C1275;
    cursor: pointer;
    background: transparent;
    height: 50px;
    width: 200px;
    margin-top: 20px;
    border-radius: 10px;
    font-size: 1rem;
    transition: background-color 0.2s;
}

.home-page-contact-button:hover {
    background-color: #9C1275;
    color: #ffffff;
}

.side-image {
    flex: 1;
    max-width: 500px;
    margin: 20px;
}

.side-image img {
    width: 100%;
    height: auto; /* Ensures the image scales proportionally */
}

/* Responsive design */
@media (max-width: 768px) {
    .home-page-main-frame {
        flex-direction: column; /* Stack elements on smaller screens */
        text-align: center;
    }

    .text-frame, .side-image {
        margin: 10px 0;
    }

    .text-frame h1 {
        font-size: 2rem;
    }

    .text-frame p {
        font-size: 0.9rem;
    }

    .home-page-contact-button {
        width: 80%; /* Adjust button width for smaller screens */
    }
}
